/* 
    Primary Styles
    Author: Casey Trimm
*/

body {
	background-image: url('../img/white_tiles.png');
}

h1 {
	font-size: 2em;
	margin-bottom: 10px;
	text-align: right;
}
 
#form {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 400px;
	padding: 20px;  z-index: 9999;
}

#title {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#note {
	width: 390px;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

label {
	font-weight: bold;}

#save-template {
	float: right;
}

#load-template {
	float: right;
	margin-right: 5px;
}

#clear-form {
	float: left;
	margin-left: 5px;
}

#form button {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	display: block;
	margin-top: 10px;
}

#showPane {
	position: absolute;
	bottom: 5px;
	right: 5px;	
	cursor: pointer;
}
 
#taskbar {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	z-index: 4000;
}

#taskbar_bg {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=50);
	opacity: 0.5;
}

.taskbutton {
	font-family: "Courier New", monospace;
	font-size: 8pt;
	min-width: 110px; 
	margin: 2px;
}

.miniWin-shadow {
	-moz-box-shadow: 0px 0px 15px -5px #999;
	-webkit-box-shadow: 0px 0px 15px -5px #999;
	box-shadow: 0px 0px 15px -5px #999;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.cleditorMain {
	margin-top: 3px;
	margin-bottom: 5px;
}